* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #444;
	color: #efefef;
    font-size: 17px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
}
  
.left, .right {
    width: 25%;
}
  
.middle {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

#wyk1 {
    width: 350px;
    height: 300px;
    margin: 10px;
}

#wyk2 {
    width: 500px;
    height: 300px;
    margin: 10px;
}

#headerText {
    text-align: center;
    margin-top: 30px;
}

.loginPanel {
    text-align: right;
    margin: 20px;
    padding-right: 20px;
}

input {
    margin-top: 15px;
}

button {
    width: 161px;
    height: 30px;
    margin-top: 15px;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 30px;
}

nav ul {
    margin-left: auto;
    padding: 10px;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
}

input {
    width: 150px;
    text-align: center;
}

#calendar {
    margin-top: 40px;
    float: right;
}