* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #444;
	color: #efefef;
    font-size: 17px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 25%;
}
  
.middle {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 30px;
}

nav ul {
    margin-left: auto;
    padding: 10px;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
}

#avatar {
    width: 210px;
    height: 150px;
    float: right;
    margin: 10px;
}

button {
    float: right;;
    margin: 10px;
}

p {
    float: right;
}

.col {
    width: 40%;
    float: left;
    margin: 20px;
}

.szukajButton {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: goldenrod;
    border-color: black;
}

.wyloguj {
    width: 60%;
    height: 30px;
    margin-top: 15px;
    float: right;
    margin-left: 100px;
    font-size: 20px;
}

#loginPanel {
    margin: 15px;
    margin-top: 30px;
}