<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PoProjectFront</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<nav>
    <a routerLink="/loginHome">Home</a>
</nav>
  <div class="row">
    <div class="column">
        a
    </div>
    <div class="column">
        a
    </div>
    <div class="column">
        <div class="loginPanel" id="loginPanel">
            <img src="../../assets/images/avatar.png" id="avatar"><br>
            <p>Zalogowano jako (sdadsadsad) kierownik</p><br>
            <button (click)="fun()" class="wyloguj">Wyloguj</button><br>
        </div>
    </div>
  </div>
  <div class="container">
    <form (ngSubmit)="szukaj()" #szukanieNazwaForm="ngForm">
        <input type="text" class="inputNazwa" placeholder="Wprowadź nazwę szukanej paczki" id="nazwa" ngModel class="form-control" name="nazwa" required="required"><br>
        <input type="submit" value="Szukaj" id="inputSubmit">
    </form>
  </div>
</body>
</html>
